@model SubjectModel
@{
    Layout = "_Layout";
}
<div class="container mt-5">
    <h2>Add New Subject</h2>
    <form asp-action="AddSubject" method="post">
        <div class="mb-3">
            <label for="Code" class="form-label">Code</label>
            <input type="text" class="form-control" id="Code" name="SubjectCode" required>
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" name="SubjectName" required>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea class="form-control" id="Description" name="SubjectDescription"></textarea>
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Add Subject</button>
            <a asp-controller="Subjects" asp-action="SubjectsList" class="btn btn-danger">Back</a>
        </div>
    </form>
    
    @if (ViewBag.Success != null)
    {
        <div class="alert alert-success">@ViewBag.Success</div>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }
</div>